body {
  background-image: url(https://images.unsplash.com/photo-1665598771471-7b8d22d058f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1, p {
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 42px;
}

p {
  font-size: 35px;
  font-weight: bold;
  margin: 120px;
  border: 8px solid white;
  border-radius: 5px;
  padding: 20px;
  background-color: black;
}

.btn {
  padding: 20px;
  width: 20%;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: #3ed4d4;
  border: 1px solid transparent;
  font-size: 28px;
  color: white;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

